doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    title BEMのしゅくだい
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', media='all')
    link(rel='stylesheet', href='styles/card.css', media='all')
  body
    .card
      .card__image
        a(href="#")
          img.card__img(src="https://s3-ap-northeast-1.amazonaws.com/i.schoo/images/class/2690.jpg" alt="【CSS設計】BEMを使った破綻しにくいHTML, CSSの書き方 -前編-")
        .card__btn
          span.card__count 777
          span.card__watch
      p.card__schedule
        i.card__icon.fa.fa-clock-o
        em.card__time 21:00-22:00
      h1.card__title
        a.card__link(href="#") 【CSS設計】BEMを使った破綻しにくいHTML, CSSの書き方 -前編-

